@charset "UTF-8";

body {
    background-color: burlywood;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

main {
    background-color: white;
    width: auto;
    height: auto;
    padding: 20px;
    margin-right: 50px;
    margin-left: 50px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.473);
}

div {
    text-align: left;
}